.elements__like1 {
  display: inline-block;
  width: 22px;
  height: 19px;
  /* background-image: url(../../../img/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  border: 0;
  background-color: transparent;
  padding: 0;
  /* fill: none; */
  /* fill: black; */
  fill: red;
  /* stroke: black; */
  /* stroke-width: 2px; */

  cursor: pointer;

  /* opacity: .5; */
}
